<!DOCTYPE html>
<html>
<head>
  <title>Loopchat | Admin page</title>
  <meta http-equiv="Content-Type" charset="UTF-8"
        name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"
          integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
          crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
          integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
          crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous">
  </script>
</head>
<body>
  <div class="container-fluid">
    <div id="chat">
        <div id="chat_head">
            <div id="chat_load"><b>LOAD MORE</b></div>
        </div>
        <div id="chat_body">
            <!--<div class="info">
                <span class="info_text"></span>
                <span class="info_close">×</span>
            </div>-->
            <!-- Messages window -->
            <div id="chat_overview">

            </div>
            <!-- Input window -->
            <div id="chat_input" contenteditable="true">
            </div>
            <!-- Additional filler container with send button -->
            <div id="chat_filler">
                <button id="chat_send"></button>
            </div>
            <div id="chat_channel">
                <select name="channel" id="channel">
                    <option value="common" class="channel-common">common</option>
                    <option value="system" class="channel-system">system</option>
                    <option value="info" class="channel-info">info</option>
                </select>
            </div>
        </div>
        <div id="banner">
            <span id="banner_time">Ban time: </span>
            <select name="banner_hours" id="banner_hours" data="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="6">6</option>
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="48">48</option>
                <option value="permament">permament</option>
            </select>
            <span id="banner_close">×</span>
            <span id="banner_user"></span>
            <div id="banner_reason" contenteditable="true">
            </div>
            <div id="banner_wrapper" class="text-center">
                <a id="banner_button" class="btn btn-danger" data="">ban</a>
            </div>
        </div>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">


      if (!String.prototype.format) {
        String.prototype.format = function() {
          var args = arguments;
          return this.replace(/{(\d+)}/g, function(match, number) {
            return typeof args[number] != 'undefined'
              ? args[number]
              : match
            ;
          });
        };
      }

      var user = "{{ user['user'] }}";
      console.log(user);

      var channel = "common";

      var height = 0;

      var msg_template = '<div id="{0}" class="msg {1}">' +
                             '<img class="user_avatar" src="{2}" />' +
                             '<span class="nick_and_time">' +
                                 '<div class="nick" username="{3}"><b>{4}</b></div>' +
                                 '<div class="time">{5}</div>' +
                             '</span>' +
                             '<button class="buttons ban"></button>' +
                             '<button class="buttons delete"></button>' +
                             '<button class="buttons edit"></button>' +
                             '<button class="buttons quote"></button>' +
                             '<button class="buttons reply"></button>' +
                             '<div class="msg_field">{6}</div>' +
                             '<button class="buttons confirm" ' +
                                     'style="display: none">' +
                              '</button>' +
                         '</div>';

      var info_template = '<div class="info slider">' +
                              '<span class="info_text">{0}</span>' +
                              '<span class="info_close">×</span>' +
                          '</div>';

      var sys_template = '<div class="msg-system">' +
                             '<span class="system_head"><b>System:  </b></span>' +
                             '<span class="system_body">{0}</span>' +
                         '</div>';

      var closed_template = '<div class="msg-system">System: Connection ' +
                                'closed, please try to reload the page.' +
                            '</div>';

      var create_msg = function (data) {
          return msg_template.format(data.id,
                                     data.type,
                                     data.avatar,
                                     data.user,
                                     data.nick,
                                     data.datetime.split(' ')[0],
                                     data.message);
      };

      var create_info_msg = function (data) {
          return info_template.format(data.msg);
      };

      var create_sys_msg = function (data) {
          return sys_template.format(data.msg);
      };

      var operate = {
          common: function (data) {
              var message = create_msg(data);
              $('#chat_overview').append(message);
              scrolldown();
          },
          delete: function (data) {
              $('#' + data.id).remove();
          },
          edit: function (data) {
              $('#' + data.id + ' .msg_field').html(data.message);
          },
          info: function (data) {
              console.log(data);
              //$('#info_text').html(data.info);
              //$('#info').animate({'top': '0px'})
              //$('#info').animate({'bottom': '60px'})
              var msg = create_info_msg(data);
              $('#chat_body').append(msg);
          },
          load: function (data) {
              console.log(data);
              $.each(data, function (i, msg) {
                  var message = create_msg(msg);
                  $('#chat_overview').prepend(message);
              });
          },
          open: function (data) {
              console.log(data);
              $.each(data, function (i, msg) {
                  var message = create_msg(msg);
                  $('#chat_overview').prepend(message);
              });
              scrolldown();
          },
          system: function (data) {
              var msg = create_sys_msg(data);
              $('#chat_overview').append(msg);
              scrolldown();
          },
          users: function (data) {
              console.log(data);
          },
      }

      var scrolldown = function () {
          $('.msg').each(function(i, value) {
              height += (parseInt($(this).height()) + 10);
          });
          $('#chat_overview').animate({scrollTop: height}, 100);
      };

      var prepare = function (input) {
          console.log('prepare!');
          return $(input).html()
                                .replace(/&nbsp;/gi,'')
                                .replace(/(<br\s*\/?>){2,}/gi, '<br>')
                                .trim();
      };

      function placeCaretAtEnd(el) {
          el.focus();
          if (typeof window.getSelection != "undefined"
                  && typeof document.createRange != "undefined") {
              var range = document.createRange();
              range.selectNodeContents(el);
              range.collapse(false);
              var sel = window.getSelection();
              sel.removeAllRanges();
              sel.addRange(range);
          } else if (typeof document.body.createTextRange != "undefined") {
              var textRange = document.body.createTextRange();
              textRange.moveToElementText(el);
              textRange.collapse(false);
              textRange.select();
          }
      }

      $(document).ready(function () {
          if ("MozWebSocket" in window) {
              WebSocket = MozWebSocket;
          }
          if (WebSocket) {
              var ws = new WebSocket("ws://46.4.78.38:8181/common_channel/" + user);
              var send = function(message) {
                  ws.send(JSON.stringify(message))
              }
              ws.onopen = function () {};

              ws.onmessage = function (evt) {
                  var data = $.parseJSON(evt.data);
                  console.log(data);
                  operate[data[0]](data[1]);
                  //scrolldown();
              };

              ws.onclose = function () {};

              $('#chat_load').on('click', (function () {
                  var id = $('.msg:first').attr('id'),
                      message = ['load', id];
                  send(message);
              }));

              $(document).on("click", ".reply", function () {
                  if (ws.readyState === 3) {
                      $('#chat_overview').append(closed_template);
                      scrolldown();
                  } else {
                      var id = $(this).parent().attr('id'),
                          nick = $('#' + id + ' .nick_and_time .nick').eq(0).clone();
                      $(nick)
                             .html($(nick).html() + ',')
                             .css('display', 'inline-block')
                             .attr('contenteditable', false);
                      $('#chat_input .nick').remove();
                      //$('#chat_input').focus();
                      var quote = $('#chat_input .nick_and_time');
                      if (quote.length) {
                          //$('&nbsp;&nbsp;').insertAfter(quote);
                          $(nick).insertAfter(quote);
                          placeCaretAtEnd($('#chat_input').get(0));
                      } else {
                          $('#chat_input')
                                          .prepend('&nbsp;&nbsp;')
                                          .prepend(nick);
                          placeCaretAtEnd($('#chat_input').get(0));
                      }
                  }
              });

              $(document).on("click", ".quote", function () {
                  if (ws.readyState === 3) {
                      $('#chat_overview').append(closed_template);
                      scrolldown();
                  } else {
                      var id = $(this).parent().attr('id'),
                          usr = $('#' + id + ' .nick_and_time').eq(0).clone(),
                          msg = $('#' + id + ' .msg_field').eq(0).clone();
                          console.log(usr);
                          console.log(msg);
                      $(usr).attr('contenteditable', false);
                      $(msg).attr('contenteditable', false);
                      var to_add = $(usr).append(msg);
                      //$('#chat_input .nick_and_time').remove();
                      //$('#chat_input .msg_field').remove();
                      //$('#chat_input').focus();
                      $('#chat_input .nick_and_time').remove();
                      $('#chat_input')
                                      .prepend('<br><br>')
                                      .prepend('&nbsp;&nbsp;')
                                      //.prepend('</div>')
                                      //.prepend(msg)
                                      .prepend(to_add)
                                      .animate({scrollTop: 300}, 100);
                                      //.prepend('<div class="cont" contenteditable="false">')
                                      //.focus();
                      //$('#chat_input .cont')
                      //                      .css('display', 'inline-block')
                      //                      .attr('contenteditable', false);
                      $('#chat_input .nick_and_time').addClass('quote-user');
                      $('#chat_input .msg_field').addClass('quote-msg');
                      placeCaretAtEnd($('#chat_input').get(0));
                  }
              });

              $(document).on("click", ".edit", function () {
                  if (ws.readyState === 3) {
                      $('#chat_overview').append(closed_template);
                      scrolldown();
                  } else {
                      var id = $(this).parent().attr('id'),
                          field = $('#'+ id + ' .msg_field').eq(0),
                          confirm = $('#' + id + ' .confirm');
                      $(field).attr('contenteditable', true);
                      $(field).addClass('editing');
                      $(confirm).show();
                  }
              });

              $(document).on('click', '.confirm', function () {
                  if (ws.readyState === 3) {
                      $('#chat_overview').append(closed_template);
                      scrolldown();
                  } else {
                      var id = $(this).parent().attr('id'),
                          field = $('#'+ id + ' .msg_field').eq(0),
                          confirm = $('#' + id + ' .confirm');
                      $(field).attr('contenteditable', false);
                      $(field).removeClass('editing');
                      $(confirm).hide();
                      var message = prepare(field);
                      if (message) {
                          var data = [id, message],
                              to_send = ['edit', data];
                          send(to_send);
                      }
                  }
              });

              $(document).on('keypress', '.msg_field', (function (event) {
                  event = event || window.event // For IE
                  if (event.which == 13 && event.shiftKey === false) {
                      event.preventDefault();
                      if (ws.readyState === 3) {
                          $('#chat_overview').append(closed_template);
                          scrolldown();
                      } else {
                          var id = $(this).parent().attr('id'),
                              field = $('#'+ id + ' .msg_field').eq(0),
                              confirm = $('#' + id + ' .confirm');
                          $(field).attr('contenteditable', false);
                          $(field).removeClass('editing');
                          $(confirm).hide();
                          var message = prepare(field);
                          if (message) {
                              var data = [id, message],
                                  to_send = ['edit', data];
                              send(to_send);
                          }
                      }
                  }
              }));

              $(document).on("click", ".delete", function () {
                  if (ws.readyState === 3) {
                      $('#chat_overview').append(closed_template);
                      scrolldown();
                  } else {
                      var msg_id = $(this).parent().attr('id'),
                          to_send = ['delete', msg_id];
                      send(to_send);
                  }
              });

              $(document).on("click", ".ban", function () {
                if (ws.readyState === 3) {
                    $('#chat_overview').append(closed_template);
                    scrolldown();
                } else {
                    var id = $(this).parent().attr('id'),
                        nick = $('#' + id + ' .nick_and_time .nick b').eq(0).text();
                        username = $('#' + id + ' .nick_and_time .nick').attr('username');
                    //to_send = new Array ('ban', nick);
                    console.log(nick);
                    $('#banner_user').attr('data', username);
                    $('#banner_user').text('Ban ' + nick + ' for:');
                    $('#banner').animate({'left': '360px'});
                    //send(to_send);
                }
              });

              $('#banner_button').on('click', (function () {
                  if (ws.readyState === 3) {
                      $('#chat_overview').append(closed_template);
                      scrolldown();
                  } else {
                      var reason = prepare($('#banner_reason'));
                      if (reason && reason != '<br>') {
                          //var to_send = new Array(user, message);
                          var nick = $('#banner_user').attr('data'),
                              hours = $('#banner_hours-button .ui-selectmenu-text').text(),
                              message = [nick, hours, reason],
                              to_send = ['ban', message];
                          send(to_send);
                          $('#banner_reason').html('');
                          $('#banner').animate({'left': '200px'});
                      }
                  }
              }));

              $('#banner_close').on('click', (function () {
                  $('#banner').animate({'left': '200px'});
              }));

              $(document).on('click', '.info_close', (function () {
                  //$(this).parent().animate({'top': '-60px'})
                  $(this).parent().removeClass('slider');
              }));

              $('#chat_send').on('click', (function () {
                  if (ws.readyState === 3) {
                      $('#chat_overview').append(closed_template);
                      scrolldown();
                  } else {
                      var message = prepare($('#chat_input'));
                      if (message && message != '<br>') {
                          //var to_send = new Array(user, message);
                          var to_send = [channel, message];
                          send(to_send);
                          $('#chat_input').html('');
                      }
                  }
              }));

              $('#chat_input').on('keypress', (function (event) {
                  event = event || window.event // For IE
                  if (event.which == 13 && event.shiftKey === false) {
                      event.preventDefault();
                      if (ws.readyState === 3) {
                          $('#chat_overview').append(closed_template);
                          scrolldown();
                      } else {
                          var message = prepare(this);
                          if (message && message != '<br>') {
                              var to_send = [channel, message];
                              send(to_send);
                              $(this).html('');
                          }
                      }
                  }
              }));

              $('#chat_input').on('keydown paste', (function (event) {
                  var quote = $('#chat_input .nick_and_time').text().length;
                  console.log(quote);
                  if ($(this).text().length >= 302 + quote
                      && event.keyCode != 8
                      && event.keyCode != 13) {
                      event.preventDefault();
                  }
              }));

              $('#channel').selectmenu();

              $('#banner_hours').selectmenu();

              $(document).on("click", "ul#channel-menu li", function () {
                  var background_color = $(this).css('background-color'),
                      color = $(this).css('color');
                  channel = $(this).text();
                  $('#channel-button').css({'background': background_color,
                                            'color': color});
              });
          } else {
              alert("WebSocket not supported");
          }
      });
  </script>
</body>
</html>
